// base/_typography.scss
@use "sass:math";

html {
  $theme-font-size-base: 1rem; // 1 * 16px = 16px
  $theme-font-size-max: 1.125rem; // 1.125 * 16px = 18px
  $theme-font-size-diff: math.div($theme-font-size-max - $theme-font-size-base, 1rem);

  $theme-content-width-base: 360px;
  $theme-content-width-max: 1200px;
  $theme-content-width-diff: $theme-content-width-max - $theme-content-width-base;

  font-size: clamp(
      $theme-font-size-base,
      calc(#{$theme-font-size-base} + #{$theme-font-size-diff} * 16px * (100vw - #{$theme-content-width-base}) / #{$theme-content-width-diff}),
      $theme-font-size-max
  );
}
