# OS and IDE/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Assets
/assets/css/
/assets/scss/vendors/
!/assets/scss/vendors/bootstrap/_bootstrap-configuration*.scss
/assets/js/*.min.js

# Composer
/vendor/
composer.lock

# Logs and reports
*.log
phpcs-report*.txt

# Environment
.env
!.env.example
